/* Estilos para el formulario de contacto */
.contact-form {
    background-color: #f9f9f9; /* Un gris muy claro */
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    color: #333;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

.contact-form .form-group {
    margin-bottom: 20px; /* Aumenta el espacio entre los grupos de formulario */
    display: block; /* Hace que cada .form-group ocupe una línea completa */
}

.contact-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #37474f; /* Un gris azulado más oscuro */
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: calc(100% - 22px); /* Ajuste para el padding y el borde */
    padding: 12px; /* Aumenta el padding para más espacio interno */
    border: 1px solid #b0bec5; /* Un gris azulado más claro */
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho */
}

.contact-form textarea {
    resize: vertical;
    min-height: 120px; /* Aumenta la altura mínima del área de texto */
}

.contact-form button[type="submit"] {
    display: inline-block; /* Cambia a block si quieres que ocupe toda la línea */
    padding: 14px 30px;
    background-color: #27ae60; /* Verde más atractivo */
    color: white;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 20px;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: auto; /* Ajusta el ancho al contenido */
}

.contact-form button[type="submit"]:hover {
    background-color: #219653;
}